@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.social a{
	width: 600px;
	height: 600px;
	border-radius: 80%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 170px;
	color: #B4E6E7;
	margin-right: 22px;
	margin-bottom: -150px;
}


.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}

.bg {
  background: url(bg.png)
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

